@tailwind base;
@tailwind components;
@tailwind utilities;
/* creating class */
@layer base {
}
@layer components {
}

.navbarItems {
  @apply p-2 rounded-xl mx-auto items-center mt-6;
}

.menuGridFoods {
  @apply w-auto h-52 bg-darkBlue relative rounded-xl;
}

.menuGroupHover {
  @apply mr-5 mt-2 group-hover:border-b-2 group-hover:border-lightIvory;
}

.menuGridFoodImages {
  @apply absolute -top-[70px] w-40 h-40 m-auto left-0 right-0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.expanded {
  animation-name: slidein;
  animation-duration: 1s;
}

.collapsed {
  transform: translatex(-100%)
}

#reciptDiv {
  margin-right: -100%;
  transition: all 1s;
}

#reciptDiv.expanded {
  margin-right: 0;
}